// THIS CODE AND INFORMATION IS PROVIDED "AS IS" WITHOUT WARRANTY OF
// ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT LIMITED TO
// THE IMPLIED WARRANTIES OF MERCHANTABILITY AND/OR FITNESS FOR A
// PARTICULAR PURPOSE.
//
// Copyright (c) Microsoft Corporation. All rights reserved
#include "windows.h"

SampleImage Image "Computer.ico"
SampleImage_gr Image Computer_gr.ico
bulb Image bulb_1_48.png
warning_blue Image warning_blue_48.png
warning_red Image warning_red_48.png
warning_yellow Image warning_yellow_48.png
warning_green Image warning_green_48.png
envelop Image envelop_2_48.png
